<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="timererportdatacraft" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrador\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="main.py" />
            </files>
        </defaultDocument>
    </system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="main.wsgi_app" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\TimeReport DataCraft API\src" />
	</appSettings>
</configuration>